<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width = '100' align = 'right'>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 3*

# 📝 Assignment

# 🌱 **기본 과제**

In [ ]:
!pip install category_encoders

In [ ]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from category_encoders import OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

## **Part 1. 분류/회귀 문제**
> 다이아몬드를 보관하기 위해 금고를 만들었습니다. 금고가 너무 작아서 가격이 상위 25% 이상인 것만 보관하려고 합니다. 이를 위해 `price` 특성을 이용해 금고에 보관할 다이아몬드와 그렇지 않은 것으로 분류하는 이진 분류 컬럼을 만들어 타겟 특성으로 사용할 것입니다.

- `diamonds` 데이터셋을 불러오세요.
- `top25`라는 새로운 타겟 변수(컬럼)를 만들어 주세요. 
  - `price` 값이 상위 25% 이상이면 `True`, 상위 25% 미만이면 `False`가 되도록 `top25`에 저장하세요.

##### **Q1. 타겟 특성의 최빈값의 빈도(샘플 수)를 제출하세요.**

In [ ]:
# 데이터셋 불러오기

diamonds = sns.load_dataset('diamonds')

In [ ]:
top25 = diamonds['price'].quantile(0.75)
diamonds['top25'] = diamonds['price'] >= top25

In [ ]:
diamonds['top25'].value_counts()

False    40455
True     13485
Name: top25, dtype: int64

In [ ]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z  top25
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43  False
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31  False
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31  False
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63  False
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75  False

## **Part 2. 데이터 누수(Data leakage)**
- 특성 `X`와 타겟 `y`를 분리하여 저장하세요.
  - 특성은 타겟을 제외한 모든 컬럼입니다. 
- `X`와 `y` 데이터를 train/val set으로 나누세요. 
  - train/val set의 비는 8:2로 합니다.
  - `random_state=2`로 설정합니다. 
- `DecisionTreeClassifier()`를 사용하여 결정트리 모델을 학습시키세요. 
  - `random_state=2`로 설정합니다.

##### **Q2. val set에 대하여 accuracy를 제출하세요.**

##### **Q3. val set의 accuracy는 적절한가요? 적절하지 않은가요? 그 이유를 한 문장으로 설명하세요.**

##### **Q4. 적절하지 않다면 문제를 파악하여 해결하고, 모델을 다시 학습한 후 val set의 accuracy를 제출하세요.**

In [ ]:
target = 'top25'
X = diamonds.drop(target, axis=1)
y = diamonds[target]

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=2)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((43152, 10), (10788, 10), (43152,), (10788,))

In [ ]:
pipe = make_pipeline(
    OrdinalEncoder(), 
    DecisionTreeClassifier(random_state=2)
)

pipe.fit(X_train, y_train)
print('검증 정확도:', pipe.score(X_val, y_val))

검증 정확도: 1.0

In [ ]:
features = diamonds.drop([target, 'price'], axis=1)
X_train, X_val, y_train, y_val = train_test_split(features, y, test_size=0.2, random_state=2)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((43152, 9), (10788, 9), (43152,), (10788,))

In [ ]:
pipe = make_pipeline(
    OrdinalEncoder(), 
    DecisionTreeClassifier(random_state=2)
)

pipe.fit(X_train, y_train)
print('검증 정확도:', pipe.score(X_val, y_val))

검증 정확도: 0.9664441972562106

# **🥇 도전 과제**

## **Part 3. 프로젝트 준비**

> 프로젝트에 사용할 데이터셋으로 진행합니다.

- 풀고자 하는 문제가 분류와 회귀 중 어느 문제인지 정하세요.
- 타겟으로 사용할 특성을 선택하세요.
- `df.dtypes`을 사용해서 타겟의 데이터 타입을 확인하세요.
- `df.describe()`을 사용해서 타겟의 통계치를 확인하세요. 
  - 실수형 : 평균값
  - 범주형 : 최빈값
- 타겟의 분포를 분석해 보세요. 사용할 평가지표를 선택하고, 그 이유를 설명하세요. 
  - 분류
    - 클래스가 몇 개인지? 클래스 비율이 어떤지(balance or imbalance)?
    - 다수 클래스(majority class) 비율이 50%~70%인 경우 정확도(accuracy)만 사용해도 무방합니다. 하지만 범위를 넘어설 경우 정확도만을 사용해서는 모델을 잘못 이해할 수 있습니다. 어떤 평가지표를 사용해야 할까요?
  - 회귀
    - 타겟 분포가 right-skewed인지? log-transform을 사용할 것인지?
    - MAE, RMSE, 𝑅2 등을 사용할 수 있습니다.